* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.adminPage {
  height: 100vh;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 2rem;
  margin: 0 auto;
}

.panelAdmin {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 1rem;
  border-radius: 10px;
}
.adminImage {
  width: 9.375rem;
  height: 9.375rem;
  margin-bottom: 50px;
}

.adminImage img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
  border-radius: 50%;
}

.panelOptions ul {
  list-style: none;
  text-align: center;
}

li {
  padding: 0.8rem 0px;
  font-weight: bold;
  font-size: 1.25rem;
  cursor: pointer;
}

.listMovies {
  height: 100%;
  background-color: white;
  padding: 1rem;
  width: 65%;
  border-radius: 10px;
  overflow: scroll;
}

.listMovies h3 {
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.movieCard {
  border: 1px solid black;
  border-radius: 0.9375rem;
  padding: 0.625rem 1.875rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;
}

.movieCardContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.imageCard {
  width: 60px;
  height: 90px;
}

.imageCard img {
  width: 100%;
  object-fit: cover;
  overflow: hidden;
}

.title {
  font-weight: bolder;
  font-size: 1.1rem;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.buttons div {
  font-size: 1.25rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .adminPage {
    display: block;
    height: 100vh;
    width: 100%;
    padding: 2rem;
    margin: 0 auto;
  }
  .panelAdmin {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .panelOptions {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
  }
  .adminImage {
    display: none;
  }

  .panelOptions ul {
    display: flex;
    list-style: none;
    text-align: center;
  }
  li {
    padding: 0.9357rem 1rem;
    font-weight: bold;
    font-size: 1.25rem;
    cursor: pointer;
  }
  .listMovies {
    background-color: white;
    padding: 1rem;
    width: 100%;
    border-radius: 10px;
  }
}
